<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="cd2grprep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HoldCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!-- 出力文字列のフォーマット -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%-5p] %message%newline" />
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <!-- ログ出力先の定義 -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">

      <!-- 作成するログファイル -->
      <param name="File" value="trace.log"/>

      <!-- 追加 -->
      <param name="AppendToFile" value="true"/>

      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>

    <root>
      <!-- ログのレベルを指定 -->

      <!-- すべてのログレベルを出力 -->
      <level value="ALL"/>

      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
    <cd2grprep.Properties.Settings>
      <setting name="DBConnectString" serializeAs="String">
        <value>Data Source=172.26.97.68;Initial Catalog=I3_IC;User Id=sa;Password=Iwatsu102;</value>
      </setting>
      <setting name="SelectCallDetailSql" serializeAs="String">
        <value>SELECT CallEventLog,ConnectedDate,CallId,CallDurationSeconds,HoldDurationSeconds,CustomNum3 FROM dbo.CallDetail WITH (NOLOCK) WHERE I3TimeStampGmt &gt;= @start AND I3TimeStampGmt &lt; @end</value>
      </setting>
      <setting name="UpdateIAgentQueueStatsAll" serializeAs="String">
        <value>UPDATE dbo.IAgentQueueStats SET CustomValue1 = CustomValue1 + {3} WHERE dIntervalStart = '{0}' AND cName = '{1}' AND cReportGroup = '{2}' AND chKey3 = '*' AND chKey4 = '*';</value>
      </setting>
      <setting name="UpdateIAgentQueueStatsNormal" serializeAs="String">
        <value>UPDATE dbo.IAgentQueueStats SET CustomValue1 = CustomValue1 + {3} WHERE dIntervalStart = '{0}' AND cName = '{1}' AND cReportGroup = '{2}' AND ((chKey3 &lt;&gt; '*' AND chKey4 = '*') OR (chKey3 &lt;&gt; '*' AND chKey4 = 'Call') OR (chKey3 = '*' AND chKey4 = '*'));</value>
      </setting>
      <setting name="SelectCallDetailCountSql" serializeAs="String">
        <value>SELECT COUNT(*) FROM dbo.CallDetail WITH (NOLOCK) WHERE I3TimeStampGmt &gt;= @start AND I3TimeStampGmt &lt; @end</value>
      </setting>
      <setting name="DBTimeOut" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UpdateCommitCount" serializeAs="String">
        <value>1000</value>
      </setting>
    </cd2grprep.Properties.Settings>
    <HoldCounter.Properties.Settings>
      <setting name="DBConnectString" serializeAs="String">
        <value>Data Source=dell-9100;Initial Catalog=I3_IC;User Id=sa;Password=cicadmin;</value>
      </setting>
      <setting name="SelectCallDetailSql" serializeAs="String">
        <value>SELECT CallEventLog,ConnectedDate,CallId FROM dbo.CallDetail WITH (NOLOCK) WHERE I3TimeStampGmt &gt;= @start AND I3TimeStampGmt &lt; @end</value>
      </setting>
      <setting name="UpdateIAgentQueueStatsAll" serializeAs="String">
        <value>UPDATE dbo.IAgentQueueStats SET CustomValue1 = CustomValue1 + {3} WHERE dIntervalStart = '{0}' AND cName = '{1}' AND cReportGroup = '{2}' AND chKey3 = '*' AND chKey4 = '*';</value>
      </setting>
      <setting name="UpdateIAgentQueueStatsNormal" serializeAs="String">
        <value>UPDATE dbo.IAgentQueueStats SET CustomValue1 = CustomValue1 + {3} WHERE dIntervalStart = '{0}' AND cName = '{1}' AND cReportGroup = '{2}' AND ((chKey3 &lt;&gt; '*' AND chKey4 = '*') OR (chKey3 &lt;&gt; '*' AND chKey4 = 'Call') OR (chKey3 = '*' AND chKey4 = '*'));</value>
      </setting>
      <setting name="SelectCallDetailCountSql" serializeAs="String">
        <value>SELECT COUNT(*) FROM dbo.CallDetail WITH (NOLOCK) WHERE I3TimeStampGmt &gt;= @start AND I3TimeStampGmt &lt; @end</value>
      </setting>
      <setting name="DBTimeOut" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UpdateCommitCount" serializeAs="String">
        <value>1000</value>
      </setting>
    </HoldCounter.Properties.Settings>
  </applicationSettings>
</configuration>
